.btn:hover {
	background-color: #E0003C;
	border-color: #E0003C;
}

.border-bottom {
	border-color: #E0003C !important;
}

.btn-primary {
	background-color: #E0003C;
	border-color: #E0003C;
}

.btn-primary:hover {
	background-color: #BC1340;
}

.btn-outline-primary {
	color: #E0003C;
	border-color: #E0003C;
}

a,
a:hover,
a:focus {
	color: #E0003C;
}

.card,
.card-header,
.card-footer {
	border-color: #E0003C;
	border-radius: 1rem;
}

.bg-primary {
	background-color: #E0003C;
}

.card-header:first-child {
	background-color: #E0003C;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-color: #E0003C;
	color: white;
}

.text-muted {
	color: #8C8C8C;
}
