/* enable smooth scrolling on touch devices */
::-webkit-scrollbar {
    width: 0.2em;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/* set overflow property to scroll */
div{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
